<h1>Descrição do artigo: (<%= @article.id %>) </h1>
<br>
<h2> <%= @article.title %> </h2>
<strong> <%= @article.body %> </strong>

<br><br><br><hr>
<strong> <%= link_to "Editar", edit_article_path %> </strong>

<strong> <%= link_to "Deletar", article_path(@article),
    method: :delete,
    data:   {confirm: 'Você quer realmente deletar essa postagem?'}
%> </strong>

<strong> <%= link_to "Voltar", root_path %> </strong>
